[Desktop Entry]
Name=madeye
GenericName=Image viewer
GenericName[bg]=Преглед на изображения
GenericName[hu]=Képnézegető
GenericName[pl]=Przeglądarka obrazów
GenericName[ru]=Просмотр изображений
TryExec=madeye
Exec=madeye %F
StartupNotify=true
Terminal=false
Type=Application
Categories=Viewer;Graphics;
MimeType=image/x-pixmap;image/png;image/jpeg;image/gif;
