Source: madeye
Section: media
Maintainer: Alexander Kerner <lunohod@openinkpot.org>
XCS-Cross-Host-Build-Depends: debhelper (>> 2.0.0), cdbs-slind
XCS-Cross-Build-Depends: libevas-dev, libecore-dev, libefreet-dev, libedje-dev, libsqlite3-dev
Priority: optional
Standards-Version: 3.6.2

Package: madeye
Architecture: any
Depends: ${shlibs:Depends}
Description: Image viewer
 Image viewer
